<header>
    <h2>
        <a href="/">My Application</a>
    </h2>
    <nav>
        <% if (user) { %>
            <a href="/create-post">Create Post</a>
            <a href="/logout">logout</a>
        <% } else { %>
            <a href="/login">Log In</a>
        <% } %>
        
    </nav>
</header>