<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hompage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2>
            <a href="/">My Application</a>
        </h2>
        <nav>
            <% if (user) { %>
                <a href="/create-post">Create Post</a>
                <a href="/logout">logout</a>
            <% } else { %>
                <a href="/login">Log In</a>
            <% } %>
            
        </nav>
    </header>

    <main>
        <h2>Welcome to DashBoard</h2>
        <p> 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Quis obcaecati aliquam sequi reprehenderit tempore alias laudantium odio quia accusamus hic.
        </p>
    </main>

    <footer>
        <small>&copy; Our Wonderful App</small>
    </footer>
</body>
</html>