<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
<body>
    <header>
        <h2>
            <p>Login Page</p>
        </h2>
        <nav>
            <a href="/">Sign Up</a>
        </nav>
    </header>

    <main>
        <form action="/login" method="POST">
            <% errors.forEach(error => {%>
                <p class="notice"><%= error %></p>
           <% }); %>
            <fieldset>
                <legend>Sign In</legend>
                <label for="Username"><small>Username</small></label>
                <input type="text" id="username" name="username" autocomplete="off">
    
                <label for="password"><small>Password</small></label>
                <input type="text" id="password" name="password" autocomplete="off" >
                <br>
                <button>Sign In</button>
            </fieldset>
        </form>
    </main>
    
    <%- include("includes/footer") %>
</body>
</html>